@font-face {
  font-family: 'Press Start 2P';
  src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 30px;
  font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: white;

  background-color: black;
}

code {
  font-family: 'Press Start 2P', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  cursor: unset !important;
}
