.HomePage {
  >.container {
    >.row {
      margin: 50px 0;
    }
  }

  button {
    height: 100px;
    width: min(100%, 350px);
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
  }
}