* {
  cursor: auto !important;
}

html,
body {
    overscroll-behavior-y: contain;
}

html {
  height: 100%;
}

body {
  background: black !important;
  text-align: center !important;
  padding: 30px;
  /*overflow: hidden;*/
}

.menu_button {
  height: 100px;
  width: 350px;
  margin-top: 50px !important;
}

.responsive {
  max-width: 100% !important;
  height: auto;
  max-height: 100%;
  width: auto;
}

#player_table {
  width: 100%;
}

#player_list {
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
}

#player_list_section {
  width: 100%;
}

#play_button {
  margin: 40px;
  width: 80px;
}

#controller {
  display: none;
}

#scores {
  text-align: left !important;
}

#scoreboard {
  height: 100px;
  position: relative;
}

.score {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.top {
  top: 0 !important;
}

.score_left {
  text-align: left;
  left: 0;
}

.score_right {
  text-align: right !important;
  right: 0 !important;
}

.inline_block {
  display: inline-block;
}

.user_img {
  margin-bottom: 5px;
}

.my_user_img {
  height: 30px;
  width: auto;
}

#swipe_info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#win {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centered_card {
    width: 400px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.centered_card > section > div {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -50px;
}

.win_section {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

#win_button {
  margin-top: 20px;
}

#ranking {
  background: rgb(56, 65, 82);
}

#ranking_list {
  width: 250px;
}

@media screen and (max-width: 355px) {
  #ranking {
    padding-left: 5%;
    padding-right: 5%;
  }

  #ranking_list {
    width: 65vw;
  }
}

@media screen and (max-width: 400px) {
  .centered_card {
    width: 96vw;
    margin-left: -48vw;
  }
}

@media screen and (max-width: 366px) {
  .centered_card {
    height: 420px;
    margin-top: -210px;
  }
}

@media screen and (min-width: 768px) {
  body {
    position: absolute;
    top: 0;
    bottom: 90px;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  #host_button {
    width: 100%;
  }

  #join_button {
    width: 100%;
  }

  .ok_button {
    width: 100%;
  }

  .mobile {
    display: inline-block !important;
  }

  .no_mobile {
    display: none;
  }
  
  #score-mobile {
    position: relative;
    width: 80vw;
  }
}