* {
  cursor: auto !important;
}

html, body {
  overscroll-behavior-y: contain;
}

html {
  height: 100%;
}

body {
  background: black !important;
  text-align: center !important;
  padding: 30px;
  overflow: hidden;
}

.menu_button {
  height: 100px;
  width: 350px;
  margin-top: 50px !important;
}

.responsive {
  max-width: 100% !important;
  height: auto;
  max-height: 100%;
  width: auto;
}

#player_table {
  width: 100%;
}

.nes-table.is-bordered {
  margin: 0 !important;
}

#player_list {
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
}

.game_card {
  text-align: left;
  max-width: 500px;
  width: 100%;
  display: inline-block;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.game_card>div {
  width: 100%;
  position: relative;
}

.game_card>div>button {
  margin: 10px;
  margin-left: 15px;
  width: 80px;
  height: 80px;
}

.game_card>div>span {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -25px;
}

.game_card>div>span .n_players {
  text-align: right;
}

#games_list_controls {
  position: fixed;
  bottom: 70px;
  left: 50%;
  margin-left: -86.01px;
  display: none;
}

#player_list_section {
  width: 100%;
}

#play_button {
  margin: 40px;
  width: 80px;
}

#controller {
  display: none;
}

#scores {
  text-align: left !important;
}

#scoreboard {
  height: 100px;
  position: relative;
}

.score {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.top {
  top: 0 !important;
}

.score_left {
  text-align: left;
  left: 0;
}

.score_right {
  text-align: right !important;
  right: 0 !important;
}

.inline_block {
  display: inline-block;
}

.user_img {
  margin-bottom: 5px;
}

.my_user_img {
  height: 30px;
  width: auto;
}

#swipe_info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

#win {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centered_card {
  width: 400px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -165px;
}

.centered_card>section>div {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50px;
}

.win_section {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

#win_button {
  margin-top: 20px;
}

#ranking {
  background: rgb(56, 65, 82);
}

#ranking_list {
  width: 250px;
}

.nes-container.is-rounded.is-dark {
  border-image-repeat: stretch !important; 
}

@media screen and (max-width: 355px) {
  #ranking {
    padding-left: 5%;
    padding-right: 5%;
  }
  #ranking_list {
    width: 65vw;
  }
}

@media screen and (max-width: 400px) {
  .centered_card {
    width: 96vw;
    margin-left: -48vw;
  }
}

@media screen and (min-width: 769px) {
  body {
    position: absolute;
    top: 0;
    bottom: 90px;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .mobile_button {
    width: 100% !important;
  }

  #join_page {
    width: 100% !important;
  }

  .mobile {
    display: inline-block !important;
  }
  .no_mobile {
    display: none;
  }
  #score-mobile {
    position: relative;
    width: 80vw;
  }
}

@media screen and (max-width: 810px) and (min-width: 768px) {
  .container {
    width: 708px !important;
  }

  #logo {
    width: 708px !important;
  }
}
